<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <!--    bootstrap-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    custom css-->

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--    fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
</head>
<body>


<!--navbar-->
<nav class="navbar navbar-default navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">House Of Hope</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for item in site.data.navigation.docs %}
            <script>
                console.log("{{item.url}}=={{page.url}}")
            </script>
            <li class= "{% if item.url == page.url %}d-none{% endif %}">
                <a class="nav-link" href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
{{content}}
<!--footer-->
<footer class="footer">
    <div class="row ml-3">
        <div class="col-lg-4">
            <h5>About Us 📕</h5>
            <hr/>
            <p>
                We Rescue, Rehabilitate, Reintegrate and Socialize street children back into communities.
            </p>
        </div>
        <div class="col-lg-4">
            <h5>Contact Us 📇</h5>
            <hr/>
            <ul>
                <li>📧: HouseOfHope@gmail.com</li>
                <li>☎️:020 2022333</li>
                <li>☎️:0723969073</li>
                <li>🏡: Ole Kisio Road</li>
                <li>🏡: PO BOX 51193-00100 ,Nairobi, Kenya</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5> Location 📍</h5>
            <hr/>
            <div class="map">
                <iframe src="https://maps.google.com/maps?q=Nyumba%20Ya%20Tumaini&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
            </div>
        </div>
    </div>
</footer>
</body>
</html>